.products {
    background: url('../img/products-bg.jpg') no-repeat center;
    background-size: cover;
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 0.33fr));
    grid-gap: 40px;
    justify-content: center;
    align-items: stretch;
    grid-template-rows: 1fr;
    @include tablet(grid-template-columns, repeat(auto-fit, minmax(250px, auto)));
}

.products__item {
    padding: 40px;
    border-radius: 20px;
    min-height: 450px;
    height: 100%;
}

.products__title {
    margin-top: 40px;
}

.products__descr {
    margin-top: 20px;
}