:root {
	--color-white: #FFFFFF;
    --color-black: #000;
    --color-dark: #241B2A;
    --color-dark-violet: #280047;
	--color-bg-primary: #1D1324;
	--color-accent-gradient: linear-gradient(90deg, #332694 0%, #642895 63.02%);
    --font-raleway: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}