<!-- Modal -->
<div class="modal hystmodal" id="modal" aria-hidden="true">
    <div class="hystmodal__wrap">
        <div class="modal__body hystmodal__window" role="modal window contact" aria-modal="true">
            <div class="modal__close" data-hystclose>
                <svg class="modal__close-svg" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1 1L12 12M12 1L1 12" stroke-width="1.5" stroke-linecap="round"/>
                </svg>
            </div>
            <h3 class="modal__title modal__field--anim title title--big title--black title--w-medium center">
                Обратная связь
            </h3>
            <form action="" class="modal__form wpcf7-form">
                <div class="modal__field">
                    <input type="text" class="modal__input" placeholder="Ваше имя">
                </div>
                <div class="modal__field">
                    <input type="tel" class="modal__input" placeholder="Номер телефона">
                </div>
                <div class="modal__field">
                    <input type="email" class="modal__input" placeholder="Email">
                </div>
                <div class="modal__field">
                    <input type="text" class="modal__input" placeholder="Компания">
                </div>
                <div class="modal__field">
                    <textarea class="modal__input modal__input--textarea" cols="40" row="10" placeholder="Сообщение"></textarea>
                </div>
                <div class="modal__agree-text">
                    <span class="wpcf7-form-control-wrap acceptance-666">
                        <span class="wpcf7-form-control wpcf7-acceptance">
                            <span class="wpcf7-list-item">
                                <label>
                                    <input type="checkbox" name="acceptance-666" value="1" aria-invalid="false" class="form__checkbox form__checkbox--agree">
                                    <span class="wpcf7-list-item-label">
                                        Даю согласие на обработку персональных данных
                                    </span>
                                </label>
                            </span>
                        </span>
                    </span>
                 </div>
                <div class="modal__actions">
                    <input type="button" value="Отправить" class="modal__btn button button--secondary">
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /. Modal -->